<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Layouts</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="container">
      <div class="card">
        <div class="card-header">Thumbnail</div>
        <div class="card-body">
          <p>This is a wider card with supporting text below as a natural
            lead in to additional content. This content is a little bit longer.</p>
            <div class="btn">
              View
          </div>
          <div class="btn-1">
              Edit
          </div>
          <div class="text">
            <div class="text-info">
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header">Thumbnail </div>
        <div class="card-body">
          <p>This is a wider card with supporting text below as a natural
            lead in to additional content. This content is a little bit longer.</p>
            <div class="btn">
              View
          </div>
          <div class="btn-1">
              Edit
          </div>
          <div class="text">
            <div class="text-info">
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header">Thumbnail</div>
        <div class="card-body">
          <p>This is a wider card with supporting text below as a natural
            lead in to additional content. This content is a little bit longer.</p>
            <div class="btn">
              View
          </div>
          <div class="btn-1">
              Edit
          </div>
          <div class="text">
            <div class="text-info">
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header">Thumbnail</div>
        <div class="card-body">
          <p>This is a wider card with supporting text below as a natural
            lead in to additional content. This content is a little bit longer.</p>
            <div class="btn">
              View
          </div>
          <div class="btn-1">
              Edit
          </div>
          <div class="text">
            <div class="text-info">
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header">Thumbnail </div>
        <div class="card-body">
          <p>This is a wider card with supporting text below as a natural
            lead in to additional content. This content is a little bit longer.</p>
            <div class="btn">
              View
          </div>
          <div class="btn-1">
              Edit
          </div>
          <div class="text">
            <div class="text-info">
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header">Thumbnail</div>
        <div class="card-body">
          <p>This is a wider card with supporting text below as a natural
            lead in to additional content. This content is a little bit longer.</p>
            <div class="btn">
              View
          </div>
          <div class="btn-1">
              Edit
          </div>
          <div class="text">
            <div class="text-info">
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
